body{
    margin: 0;
    padding: 0;
    background-color: rgba(255, 187, 62, 0.219);
    p{
        margin: 0;
    }
    .header{
        font-size: 20px;
        line-height: 45px;
        height: 45px;
        color: #fff;
        /* margin: 0 0 150px 0 ; */
        align-items: stretch; 
        background: linear-gradient(to top, rgb(39, 39, 39),rgb(93, 93, 93));
        /* background-color: rgb(196, 255, 148); */
        display: grid;
        grid-template-columns: 2fr 9fr 1fr;
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "widget titulo perfil"; 
        .widget{
            grid-column-start: widget;
            grid-column-end: widget;
            height: inherit;
            font-size: 12px;
            margin-left: 15px;
            p{
                display: inline-block;
               /* line-height: 1em; */
            }
            .fecha{
                height: inherit;
                display: inline-block;
               /* width: 50%; */
            }
            .reloj{
                 height: inherit;
                 display: inline-block;
                .caja-segundos{
                    display: inline-block;
                } 
            }
        }
        .titulo{
            font-family: 'Playball', cursive;
            font-size: 30px; 
            color: rgb(0, 219, 66);
            text-shadow:  2px 2px 10px rgba(255, 255, 255, 0.493);
            grid-column-start: titulo;
            grid-column-end: titulo; 
            text-align: center;
            padding-right: 100px;
            p{
                display: inline-block;
                margin: 0;
               /* padding: 0 10px 0 10px; */
            }
            .hoja1{
                transform: rotate(-90deg);
            }
            .hoja2{
                padding-bottom: 10px;
                transform: rotate(40deg);
            }
        }
        button{
            height: inherit;
            padding: 0 20px 0 0;
            background: linear-gradient(to top, rgb(39, 39, 39),rgb(93, 93, 93));
            border: none;
            color: #fff;
            cursor: pointer;
            /* display: flex;
            align-items: center; */
            grid-column-start: perfil;
            grid-column-end: perfil; 
            text-align: end;
            &:hover{
                background: linear-gradient(to top, rgb(39, 39, 39),rgb(187, 133, 18));
            }
            p{  
                padding-left: 3px;
                padding-right: 12px; 
                display: inline-block;
            }
            .icono{
               /*  padding: 0 3px 0 20px; */
                border: none;
                color: rgb(219, 219, 219);
                /* width: 50%; */
                font-size: 20px; 
            }
        }
    } 
    .contenedor{
        width: 80%;
        height: 300px;
        margin: auto;
       /*  margin-top: 100px; */
        font-size: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3fr);
        grid-gap: 2px;
        /* border: 2px solid black; */
        p, i{  
            padding-bottom: 20px;
            text-shadow:  10px 5px 10px rgba(0,0,0, .35);
            color: rgba(252, 252, 252, 0.979);
           /*  -webkit-text-stroke: 1px rgb(128, 128, 128);  */
        }
        a{
            text-decoration: none;
            background-color: rgb(255, 145, 36);
            color: #fff;
            box-shadow: 2px 2px 10px rgba(226, 226, 226, 0.35);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }
        .pedidos-buscar{
            display: flex;
            justify-content: space-between;
            padding: 0 50px 0 15em;
            &:hover{
                background-color: white;
                border: 2px solid rgb(255, 145, 36);
                p{
                    color: rgb(100, 99, 99);
                }
                i{
                    color: rgb(100, 99, 99);;
                }
            }
        }
        .pedidos-agregar{
            display: flex;
            justify-content: space-between;
            padding: 0 50px 0 15em;
            &:hover{
                background-color: white;
                border: 2px solid rgb(255, 145, 36);
                p{
                    color: rgb(100, 99, 99);
                }
                i{
                    color: rgb(100, 99, 99);
                    -webkit-text-stroke: 2px rgb(128, 128, 128);
                }
            }
        }
        .pedidos-eliminar{
            display: flex;
            justify-content: space-between;
            padding: 0 50px 0 15em;
            &:hover{
                background-color: white;
                border: 2px solid rgb(255, 145, 36);
                p{
                    color: rgb(100, 99, 99);
                }
                i{
                    color: rgb(100, 99, 99);;
                    -webkit-text-stroke: 2px rgb(128, 128, 128);
                }
            }
        }
    }
    .btn-atras{
        margin: 30px 0 80px 20px;
        padding: 0 5px 3px 5px;
        text-align: start;
        font-family: 'Chewy', cursive;
        font-size: 20px;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        background-color: rgb(128, 128, 128);
        border: none;
        cursor: pointer;
        outline: none;
       /*  -webkit-text-stroke: 1px rgb(167, 96, 96); */
       &:hover{
           background-color: rgb(85, 85, 85);
       }
       i{
           font-size: 15px;
       }
       p{
           display: inline-block;
           font-size: 15px;
           padding-left: 5px;
       }
    }
}