$color-body: #f2f2f2;
$primario: #34903c;/* #0c5bdab9; */
$checked: #003300f3;
$error: #ff7c7cb9;
$border: #02c77b62;/* #C9ECFF; */
$background-item: #c3ffda8f;
$border-active: #27a700;/* #0FABFF; */
$fuente: 'Roboto', Arial;
$black: #474646;
$grey: #9D9D9D;

body{
    background-color: $color-body;
}

.wrap{
    width: 90%;
    max-width: 500px;
    height: 400px;
    padding: 40px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 3px grey;
}

.input-group{
    margin: 32px 0px;
    position: relative;
}  

/* .input{
    width:100%;
    font-family: $fuente;
    border: none;
    border-bottom: 2px solid $border;
    outline: none;
    padding: 4px;
} */

.input{
    width:100%;
    font-family: $fuente;
    border: none;
    border-bottom: 2px solid $border;
    outline: none;
    padding: 4px;
}

.input:focus{
    border-bottom: 2px solid $border-active;
}

.imput__error{
    width:100%;
    font-family: $fuente; 
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    padding: 4px;     
}

.label{
    position: absolute;
    cursor: text; 
    height: 100%;
    width: 100%;
    top: 0px;
    left: 6px;
    color: $primario;
    font-size: 16px;
    line-height: 100%;
    transition: all .3s ease;
}

.label-error{
    position: absolute;
    cursor: text; 
    height: 100%;
    width: 100%;
    top: 0px;
    left: 6px;
    color: red;
    background-color: $error;
    font-size: 16px;
    line-height: 100%;
    transition: all .3s ease;
}


.label:active{
    top: -12px;
    font-size: 12px;
    line-height: 12px; 
    color: $grey;
}

input[type="radio"], input[type="checkbox"]{
    display: none;
}



input[type="radio"] + label::selection, 
input[type="checkbox"] + label::selection {
  color: inherit;
  background-color: transparent;
}

input[type="radio"] + label:before {
   content: '';
   width: 15px;
   height: 15px;
   border: 2px solid $border-active;
   border-radius: 50%;
   cursor: pointer;
   vertical-align: top;
   display: inline-block;
   margin-right: 5px;
}

input[type="radio"]:checked + label:before,
 input[type="checkbox"]:checked + label:before{
   /* Estilos del input radio seleccionado */
   box-shadow: inset 0 0 1px 2px white;
   background: rgba(255, 102, 0, 0.424);
}

input[type="radio"]:checked + label,
 input[type="checkbox"]:checked + label{
   color: $checked;
   padding: 3px;
   border-radius: 2px;
   background-color: $background-item;
}

 .radio label{
    margin-right: 20px;
    color: $primario;
    cursor: pointer;
} 

input[type="checkbox"] + label:before {
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid $border-active;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
}

.checkbox label{
    color: $primario;
    cursor: pointer;
}

.checkbox{
    display: flex;
    justify-content: center;
}

.btn-submit{
    position: relative;
} 

input[type="submit"]{
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px $color-body;
    cursor: pointer;
    background-color: rgba(255, 102, 0, 0.76);
    outline: none;
    color: white;
   
}

 input[type="submit"]:active{
    width: 90%;
    position: absolute;
    top: 5px;
    left: 25px;
    /* transition: all .3s ease; */
}  


input[type="submit"]:hover{
    background-color:rgb(255, 102, 0);
}

