body {
  margin: 0;
  padding: 0;
  background-color: rgba(43, 207, 43, 0.219);
}

body p {
  margin: 0;
}

body .header {
  font-size: 20px;
  line-height: 45px;
  height: 45px;
  color: #fff;
  /* margin: 0 0 150px 0 ; */
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: -webkit-gradient(linear, left bottom, left top, from(#272727), to(#5d5d5d));
  background: linear-gradient(to top, #272727, #5d5d5d);
  /* background-color: rgb(196, 255, 148); */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 9fr 1fr;
      grid-template-columns: 2fr 9fr 1fr;
  -ms-grid-rows: (auto)[1];
      grid-template-rows: repeat(1, auto);
      grid-template-areas: "widget titulo perfil";
}

body .header .widget {
  -ms-grid-column: widget;
      grid-column-start: widget;
  grid-column-end: widget;
  height: inherit;
  font-size: 12px;
  margin-left: 15px;
}

body .header .widget p {
  display: inline-block;
  /* line-height: 1em; */
}

body .header .widget .fecha {
  height: inherit;
  display: inline-block;
  /* width: 50%; */
}

body .header .widget .reloj {
  height: inherit;
  display: inline-block;
}

body .header .widget .reloj .caja-segundos {
  display: inline-block;
}

body .header .titulo {
  font-family: 'Playball', cursive;
  font-size: 30px;
  color: #00db42;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.493);
  -ms-grid-column: titulo;
      grid-column-start: titulo;
  grid-column-end: titulo;
  text-align: center;
  padding-right: 100px;
}

body .header .titulo p {
  display: inline-block;
  margin: 0;
  /* padding: 0 10px 0 10px; */
}

body .header .titulo .hoja1 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body .header .titulo .hoja2 {
  padding-bottom: 10px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

body .header button {
  height: inherit;
  padding: 0 20px 0 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#272727), to(#5d5d5d));
  background: linear-gradient(to top, #272727, #5d5d5d);
  border: none;
  color: #fff;
  cursor: pointer;
  /* display: flex;
            align-items: center; */
  -ms-grid-column: perfil;
      grid-column-start: perfil;
  grid-column-end: perfil;
  text-align: end;
}

body .header button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#272727), to(#14751c));
  background: linear-gradient(to top, #272727, #14751c);
}

body .header button p {
  padding-left: 3px;
  padding-right: 12px;
  display: inline-block;
}

body .header button .icono {
  /*  padding: 0 3px 0 20px; */
  border: none;
  color: #dbdbdb;
  /* width: 50%; */
  font-size: 20px;
}

body .contenedor {
  width: 80%;
  height: 300px;
  margin: auto;
  /*  margin-top: 100px; */
  font-size: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: ()[3fr];
      grid-template-rows: repeat(3fr);
  grid-gap: 2px;
  /* border: 2px solid black; */
}

body .contenedor p, body .contenedor i {
  padding-bottom: 20px;
  text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.35);
  color: rgba(252, 252, 252, 0.979);
  /*  -webkit-text-stroke: 1px rgb(128, 128, 128);  */
}

body .contenedor a {
  text-decoration: none;
  background-color: rgba(43, 207, 43, 0.801);
  color: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(226, 226, 226, 0.35);
          box-shadow: 2px 2px 10px rgba(226, 226, 226, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

body .contenedor .proveedor-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 15em;
}

body .contenedor .proveedor-buscar:hover {
  background-color: white;
  border: 2px solid rgba(43, 207, 43, 0.801);
}

body .contenedor .proveedor-buscar:hover p {
  color: #646363;
}

body .contenedor .proveedor-buscar:hover i {
  color: #646363;
}

body .contenedor .proveedor-agregar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 15em;
}

body .contenedor .proveedor-agregar:hover {
  background-color: white;
  border: 2px solid rgba(43, 207, 43, 0.801);
}

body .contenedor .proveedor-agregar:hover p {
  color: #646363;
}

body .contenedor .proveedor-agregar:hover i {
  color: #646363;
  -webkit-text-stroke: 2px gray;
}

body .contenedor .proveedor-eliminar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 15em;
}

body .contenedor .proveedor-eliminar:hover {
  background-color: white;
  border: 2px solid rgba(43, 207, 43, 0.801);
}

body .contenedor .proveedor-eliminar:hover p {
  color: #646363;
}

body .contenedor .proveedor-eliminar:hover i {
  color: #646363;
  -webkit-text-stroke: 2px gray;
}

body .btn-atras {
  margin: 30px 0 80px 20px;
  padding: 0 5px 3px 5px;
  text-align: start;
  font-family: 'Chewy', cursive;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  background-color: gray;
  border: none;
  cursor: pointer;
  outline: none;
  /*  -webkit-text-stroke: 1px rgb(167, 96, 96); */
}

body .btn-atras:hover {
  background-color: #555555;
}

body .btn-atras i {
  font-size: 15px;
}

body .btn-atras p {
  display: inline-block;
  font-size: 15px;
  padding-left: 5px;
}
/*# sourceMappingURL=proveedores.css.map */